{% macro pagination(total, current, path, nearbyPagesLimit = 4) %}
	{% apply spaceless %}
	{% if total > 1 %}
		<div class="row">
			<div class="col">
				<ul class="pagination">
					{% if current > 1 %}
						<li class="page-item">
							<a class="page-link" href="{{ path(path, { offset: current - 1 }) }}">Prev</a>
						</li>

					{% endif %}

					{% for i in 1..total %}
						{% if 0 == (current - nearbyPagesLimit) - loop.index %}
							<li class="page-item">
								<a class="page-link" href="{{ path(path, { offset: 1 }) }}">1</a>
							</li>
							{% if 1 != loop.index %}
								<li class="page-item">
									<span class="page-numbers">...</span>
								</li>
							{% endif %}
						{% elseif 0 == (current + nearbyPagesLimit) - loop.index and (current + nearbyPagesLimit) < total %}
							<li class="page-item">
								<span class="page-numbers">...</span>
							</li>
						{% elseif 0 < (current - nearbyPagesLimit) - loop.index %}
						{% elseif 0 > (current + nearbyPagesLimit) - loop.index %}
						{% else %}
							{% if current == loop.index %}
								<li class="page-item">
									<span class="page-link active" aria-current="page">{{ loop.index }}</span>
								</li>
							{% else %}
								<li class="page-item">
									<a class="page-link" href="{{ path(path, { offset: loop.index }) }}">{{ loop.index }}</a>
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if current != total  and (current + nearbyPagesLimit) < total %}
						<li class="page-item">
							<a class="page-link" href="{{ path(path, { offset: total}) }}">{{ total }}</a>
						</li>
					{% endif %}
					{% if current < total %}
						<li class="page-item">
							<a class="page-link" href="{{ path(path, { offset: current + 1 }) }}">Next</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	{% endif %}
	{% endapply %}
{% endmacro %}
